/* General Reset */
body {
  margin: 0;
  padding: 0;
  font-family: "Great Vibes", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  overflow: hidden;
}

.container {
  position: relative;
  text-align: center;
}

header {
  text-align: center;
  position: relative;
  width: 100%;
}

header h1 {
  font-size: 22px;
  color: #ae00ff;
}

header p {
  font-size: 18px;
  color: #ccc;
}

/*Texto*/

#central-text {
  transition: opacity 3s ease;
}

#final-text {
  position: absolute;
  width: 100%;
  transition: opacity 3s ease;
  opacity: 0;
}

#answer-btn {
  margin: 2px;
  padding: 7.5px 15px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Imagen central */
#central-image-container {
  position: relative;
  display: flex;
  width: 178px;
  height: 178px;
  border: none;
}

#central-image {
  width: 178px;
  height: 178px;
  border-radius: 15%;
  transition: opacity 3s ease;
  position: absolute;
}

#final-image {
  width: 178px;
  height: 178px;
  border-radius: 15%;
  transition: opacity 3s ease;
  position: absolute;
  opacity: 0;
}

/* Galería en cuadrícula */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.grid-container header{
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.grid-vertical {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.thumbnail {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 1.5s ease;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.thumbnail .open {
  display: block;
}



/* Modal */
#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal-image {
  max-width: 80%;
  max-height: 80%;
}

#close-btn {
  margin-top: 50px;
  padding: 10px 20px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}